.wrapper {
  flex: 1;
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;

  .actions {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-end;
    margin-left: -3px;
    margin-right: -3px;

    > * {
      margin-left: 3px;
      margin-right: 3px;
    }
  }

  .map {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;

    > div {
      flex: 1;
    }
  }

  .toolbar {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-left: -3px;
    margin-right: -3px;

    > div {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      margin-left: 3px;
      margin-right: 3px;
      flex: 1;
    }
  }
}

.polygonsList {
  min-width: 280px;
}

.menuOption {
  svg {
    margin-right: 10px;
  }
}